/*
.layout {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 240px);
    gap: 8px;

}
*/

body {
  background: linear-gradient(2deg, #0e96cc4f, rgba(22, 88, 64, 0.555));
  
  
}

#board-inside-content {
  margin: auto;
}

.minesweeper-board {
  text-align: center;
}

.top-board-content {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  border: black 1px solid;
  height: 65px;
  width: 390px;
  background: linear-gradient(2deg, #0e96cc4f, rgba(54, 184, 140, 0.555));
}

#time-counter{
  margin-top: 25px;
}

#mine-counter{
  margin-top: 25px;
}

#face {
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  border: black 1px solid;
  background-color: rgb(56, 56, 56);
  margin-top: 7px;
  height: 50px;
}


.cellcovered{
  width: 53px;
  height: 50px;
  background: linear-gradient(2deg, #0e96cc4f, rgba(54, 184, 140, 0.555));
  border: black 1px solid;
  cursor: pointer;
}


.celluncovered{
  width: 53px;
  height: 50px;
  background-color: #969595;
  border: black 1px solid;
  cursor: pointer;
  font-size: 16px;
}

.mine {
  position: relative;
  background-position: center;
  background-size: 40px;
  background-image: url('/img/mine.png');
  background-repeat: no-repeat;
}